*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
header{

    background-color: #da0f96;
    color: #ecf0f1;
    font-family: 'Bungee', sans-serif;
    font-weight: normal;
}
header h1{
    font-family: 'Bungee', sans-serif;
}
section h2{
    font-family: 'Bungee', sans-serif;
    color: #ac1010;
}
header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 24px;
}
header nav li a{
    color: #ecf0f1;
    text-decoration: none;
    border: 2px solid #ecf0f1;
    margin: 0 20px;
    border-radius: 20%;
    font-size: 15px;

}
.conteiner{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.conteiner img{
    width: 600px;
    height: 600px;
}
.marcas img{
    height: 50px;
    width: 50px;
    width: auto;
    display: inline;
    margin-right: 12px;
}
section .conteiner{
    align-items:flex-start;
}
section{
    padding: 24px 0;
    color: #0a1dc4d0;
}
section h2{
    margin-bottom: 16px;
}
section p{
    margin-bottom:  8px;
}
section .stor-front{
    margin-right: 32px;
    width: 600px;
    height: 500px;
}
.direcionais a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background:  #da0f96;
    border: 2px solid #da0f96;
    border-radius: 50%;
    font-size: 20px;
    color: #fffefe;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
}
.direcionais a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ac1010;
    z-index: -1;
    transition: 1s;
}
.direcionais a:hover::before{
    width: 100%;
    border-radius: 70%;
    font-size: 20px;
}
#FORMULARIO .conteiner{
    display: block;
    font-family: 'Bungee', sans-serif;
    color: #ac1010;
}
.CONTEINERS{
    display: flex;
    justify-content: space-between;

}
form input, textarea, button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}
textarea{
    resize: none;
    height: 180px;
}
.direcionais li{
    padding-bottom: 6px;
}
.CONTEINERS h3{
    margin-bottom: 16px;
}
form button{
        background: #da0f96;
        color: #fff;
        font-family: 'Bungee', sans-serif;
        border-radius: 18%;
        cursor: pointer;
}
form button:hover{
    background: #da0f96a4;
}
form input, textarea{
    font-family: 'Roboto', sans-serif;
}
form input, textarea:focus{
    outline-color: aqua;
}
footer{
    position: relative;
    display: inline;
    background: #da0f96;
    color: #fff;
    padding: 9px ;
    width: 100%;
}
