*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    padding: 20px 0;
    background-color: #182c61;
    color: #ecf0f1;

}
header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 24px;
}
header nav li a{
    color: #ecf0f1;
    text-decoration: none;
    border: 2px solid #ecf0f1;
    margin: 0 20px;
    border-radius: 20%;
}
.conteiner{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
